<footer class="footer bg-dark rounded-top">
  <div class="container-footer">
    <section class="leftpane">
      <h4>Mas informacion de la empresa</h4>
      <p>Esta empresa se dedica a la venta de artesanias colombianas</p>
      <a href="#" class="informacion"> Informacion de la empresa </a><br>
      <a href="#" class="informacion"> Privacion y politicas </a><br>
      <a href="#" class="informacion"> Terminos y Condiciones </a>
    </section>
    <section  class="middlepane" >
      <h4>Redes Sociales</h4>
      <div class="row">
        <img src="assets/face.jpg">
        <a target="_blank" [href]="infoPaginaService.info.facebook">Siguenos en Facebook</a>
      </div>
      <div class="row">
        <img src="assets/twitter.jpg">
        <a target="_blank" [href]="infoPaginaService.info.twitter">Siguenos en Twitter</a>
      </div>
      <div class="row">
        <img src="assets/insta.jpg">
        <a target="_blank" [href]="infoPaginaService.info.instagram">Siguenos en Instagram</a>
      </div>
    </section>
    <section class="rightpane">
      <h4>Informacion contactos</h4>
      <div class="row">
        <img src="assets/wha.jpg">
        <label>(+57) 3138667204</label>
      </div>
      <div class="row">
        <img src="assets/tele.jpg">
        <label>(+57) 8112569</label>
      </div>
      <div class="row">
        <img src="assets/celu.jpg">
        <label>(+57) 3222215839</label>
      </div>
      <div class="row">
        <img src="assets/correo.jpg">
        <label>clientes@mihobby.com</label>
      </div>
    </section>
    
  </div>
</footer>